body{
  /* background-color: #f5da9d; */
  color: #c563ff;
  /* color: #66288b; #e2aeff */
  /* text-shadow: 1px 1px #66288b; */
}

a{
  color: #c563ff;
}

a:hover{
  color: #66288b;
}

.jumbotron {
  color: #66288b;
  /* background-color: #e2aeff; */
}


#submit-area{
    background-color: #fad06e;
}

.form-inline {
    display: -ms-flexbox;
    display: inline;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 4px;
    z-index: -999;

}
